:root {
 --bg: #1f1f1f;
 --text: #519574;

}

body {
    font-family: 'Courier', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    
}

header {
    text-align: center;
    font-size: 64px;
}

header span {
    font-size: 50px;
}

nav  {
    list-style-type: none;
    margin: 25px 75px 25px 0px;
    overflow: hidden;
    background-color: #0d0d0d;
    width: 100%;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: #0d0d0d;
    
}


nav a:link {
    color: var(--text);
}

nav a:visited {
    color: var(--text);
}

nav a:hover {
    background-color: azure;
    color: #1d1f1d;
}

div h2 {
    font-size: 40px;
    margin: 20px;
    border-bottom: 4px solid var(--text);
}

.contact {
    color: var(--text);
}

.port {
    max-width: 55%;
    max-height: auto;
}

.port:hover {
    max-width: 60%;
}

#portfolio {
   display: inline-block;
    flex: 0 0 60%;
}

.css {
    margin-top: 100px;
}

#bio {
    height: 500px;
    margin-bottom: 20px;
    display: inline-block;
}

#light {
    height: 250px;
    padding-top: 30px;
}

#selfie {
    max-width: 20%;
    max-height: auto;
    float: right;
    margin-top: 90px;
}

.right {
    float: right;
}

#css {
    float: left;
}
.para {
    font-size: 25px;
    margin-left: 25px;
    color: var(--text);
}

.title {
    font-size: 35px;
    font-style: bold;
}


.project {
    margin-bottom: 25x;
    padding: 50px;
    height: 200px;
}

footer {
   text-align: center;
   position: fixed;
   bottom: 0;
   left: 45%;
   background-color: var(--bg);
}

